vti_encoding:SR|utf8-nl
vti_author:SR|Chetan-PC\\Chetan
vti_modifiedby:SR|Chetan-PC\\Chetan
vti_timelastmodified:TR|04 Oct 2013 17:50:17 -0000
vti_timecreated:TR|04 Oct 2013 17:21:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|signup.php
vti_nexttolasttimemodified:TW|04 Oct 2013 17:49:57 -0000
vti_cacheddtm:TX|04 Oct 2013 17:50:17 -0000
vti_filesize:IR|450
vti_cachedlinkinfo:VX|S|../images/signup-background.gif
vti_cachedsvcrellinks:VX|FSUS|images/signup-background.gif
