vti_encoding:SR|utf8-nl
vti_author:SR|Chetan-PC\\Chetan
vti_modifiedby:SR|Chetan-PC\\Chetan
vti_timelastmodified:TR|24 Oct 2013 05:37:26 -0000
vti_timecreated:TR|24 Oct 2013 05:32:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|success.php
vti_nexttolasttimemodified:TW|24 Oct 2013 05:33:42 -0000
vti_cacheddtm:TX|24 Oct 2013 05:37:26 -0000
vti_filesize:IR|563
vti_cachedlinkinfo:VX|S|../images/signup-background.gif
vti_cachedsvcrellinks:VX|FSUS|images/signup-background.gif
